<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InvoiceList</title>
</head>
<body>

    <label>id</label>
    <br>
    <label>Title</label>
    <br>
    <label>Description</label>
    <br>
    <label>Created</label>
    <br>
    <label>Category</label>
    <br>
    <label>Amount</label>
    <br>
  <p th:each="invoice:${invoiceItem}">
    <p th:text="${invoice.id}"></p>
    <p th:text="${invoice.title}"></p>
    <p th:text="${invoice.description}"></p>
    <p th:text="${invoice.created}"></p>
    <p th:text="${invoice.category}"></p>
    <p th:text="${invoice.amount}"></p>

    <td>
        <form method="GET"action="../templates/PaymentPage.html" >
        <button>Payment</button>
      </form>
    </td>

    <td>
      <form  method="GET" th:action="'../templates/EditPage.html' + ${invoice.id}">
        <button>Edit</button>
      </form>
    </td>
  </p>
  </tbody>


<form action= method="get">
  <button>Create Invoice</button>
</form>

<form action="logout" method="get">
  <button>Log Out</button>
</form>
</body>
</html>